{
	"outline_panel": {
		"dock": "right"
	},
	"features": {
		"edit_prediction_provider": "zed"
	},
	"vim_mode": true,
	"tab_bar": {
		"show": true
	},
	"assistant": {
		"default_model": {
			{{- if eq .chezmoi.hostname "test-track" }}
			"provider": "openai",
			"model": "gpt-4o"
			{{- else }}
			"provider": "zed.dev",
			"model": "claude-3-7-sonnet-latest"
			{{- end }}
		},
		"version": "2"
	},
	"ui_font_size": 14,
	"buffer_font_size": null,
	"buffer_font_family": "JetBrainsMono Nerd Font",
	"tab_size": 3,
	"theme": {
		"mode": "system",
		"light": "Dracula Pro",
		"dark": "Dracula Pro"
	},
	"terminal": {
		"font_size": 13,
		"font_family": "JetBrainsMono Nerd Font",
		"line_height": "standard"
	},
	"show_whitespaces": "boundary",
	"format_on_save": "on",
	"hard_tabs": true,
	"restore_on_startup": "none"
}
